html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #0f172a;
    color: white;
    padding: 30px;
}

nav {
    background: #2563eb;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

section{
    min-height: 100vh;
    padding: 40px;
    scroll-margin-top: 70px;
}

footer {
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 20px;
}